:root {
  --background-color: #F7F4F4;
  --btn-color: #2E2E2E;
  --btn-text-color: #fff;
  --project-card-bg: #ffffff00;
  --text-color: #222;
  --form-text-color: #555;
  --footer-text-color: #888;
  --border-bottom: rgb(228, 228, 228);
}

[data-theme='dark'] {
  --background-color: #2E2E2E;
  --btn-color: #fff;
  --btn-text-color: #C21807;
  --project-card-bg: #fff;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
    --border-bottom: rgb(5, 5, 5);

}


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
